<!DOCTYPE html>
<html>
    <head>
        <title> Eric Portfolio Page</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/about.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
        
    </head>
    
    
    
    <body>
        
        <div class="wrapper">
            <header>
                <div class="nbar">
                    <div class="main-nav">
                        <a href="../index.html">HOME</a>
                        <a class="active"href="#">ABOUT</a>
                        <a href="work.html">WORKS</a>
                        <a href="contact.html">CONTACT</a>
                    </div>
                </div>
            </header>
            <div class="content"> 
                <div clas="row">
                    <div class="col left">
                       <div class="intro">
                            <img src="../imgs/intro.jpg">

                        </div>
                    </div>
                    
                    <div class="col right">
                        <p>Hi, my name is Eric Gadesseh. I'm web designer and web programmer majored multimedia programming. I enjoy creating and designing website. I also enjoy making videos, editing videos and a little bit of photography here and there. I am very open-minded about learning and sharing new idea and skills. I love meeting new friends and I love exploring new things. On my portfolio page, you will see a lot of my website creating mix along with things I am passionate about and created and enjoy doing.</p>
                    </div>
                </div>
                
                <div class="bttn">
                  <a href="contact.html"><button class="button button1">Contact me</button></a>
                </div>
            </div>
            
          
            
        </div>

    </body>

</html>