<!DOCTYPE html>
<html>
    <head>
        <title> Eric Portfolio Page</title>
            <link rel="stylesheet" href="../css/style.css">
            <link rel="stylesheet" href="../css/about.css">
         <link rel="stylesheet" href="../css/contact.css">
        
            <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        
    </head>
    
    
    
    <body>
        
                <div class="wrapper">
            <header>
                <div class="nbar">
                    <div class="main-nav">
                        <a href="../index.html">HOME</a>
                        <a href="about.html">ABOUT</a>
                        <a href="work.html">WORKS</a>
                      <a class="active"href="#">CONTACT</a>
                    </div>
                </div>
            </header>
            <div class="content">
                
                <div class="headd">
                    <h1>get In touch</h1>
                </div>
                
                <div class="row">
                    
                    <div class="colmn">
                        <i class="material-icons" style="font-size:48px;color:red">place</i>
                    </div>
                    
                    
                    <div class="colmn">
                        <i class="material-icons" style="font-size:48px;color:red">phone</i>
                     
                        <div class="contact">
                        </div>
                       
                    </div>
                    
                    
                    <div class="colmn">
                        <i class="material-icons" style="font-size:48px;color:red">mail</i>
                    </div>
                    
                    
                
                </div>
                

                
                
                
 
                
            </div>
            
          
            
        </div>
        

    </body>

</html>