<!DOCTYPE html>
<html>
    <head>
        <title> Eric Portfolio Page</title>
            <link rel="stylesheet" href="../css/style.css">
            <link rel="stylesheet" href="../css/about.css">
         <link rel="stylesheet" href="../css/contact.css">
        
            <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        
    </head>
    
    
    
    <body>
        
                <div class="wrapper">
            <header>
                <div class="nbar">
                    <div class="main-nav">
                        <a href="../index.html">HOME</a>
                        <a href="about.html">ABOUT</a>
                        <a href="work.html">WORKS</a>
                      <a class="active"href="#">CONTACT</a>
                    </div>
                </div>
            </header>
            <div class="content">
<!--
                
                <div class="headd">
                    <h1>get In touch</h1>
                </div>
                
                <div class="row">
                    
                    <div class="colmn">
                        <i class="material-icons" style="font-size:48px;color:#c1b9b9">place</i>
                    </div>
                    
                    
                    <div class="colmn">
                        <i class="material-icons" style="font-size:48px;color:#c1b9b9">phone</i>
                        
                        <p>3sdffsfwedwed</p>
                     
                        <div class="contact">
                        </div>
                       
                    </div>
                    
                    
                    <div class="colmn">
                        <i class="material-icons" style="font-size:48px;color:#c1b9b9">mail</i>
                        <p>3sdffsfwedwed</p>
                    
                    </div>
                    
                    
                
                </div>
-->
                
                
             <aside>
                <ul>
                    
                    <li><i class="material-icons" style="font-size:48px;color:#c1b9b9">place</i>
                    <h4>Adress</h4>
                    <address>1410 Brooklyn Ave, <br>
                    Brookly, NY 11210</address>
                    </li>
                    
                    <li><i class="material-icons" style="font-size:48px;color:#c1b9b9">phone</i>
                    <h4>Phone</h4>
                    <p>3474354965</p>
                        
                    </li>
                    
                    <li><a href="mailto:ericgadee@gmail.com"><i class="material-icons" style="font-size:48px;color:#c1b9b9">mail</i></a>
                    <h4>Email</h4>
                    <p>
                        <span class="linkin">ericgadee@gmail.com
                        </span>
                    </p>
                   
                    </li>
                
                
                </ul> 
            </aside>   
 
                
            </div>
            
          
            
        </div>
        

    </body>

</html>