<!DOCTYPE html>
<html>
    <head>
        <title> Eric Portfolio Page</title>
            <link rel="stylesheet" href="../css/style.css">
            <link rel="stylesheet" href="../css/about.css">
         <link rel="stylesheet" href="../css/contact.css">
        
            <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        
    </head>
    
    
    
    <body>
        
                <div class="wrapper">
            <header>
                <div class="nbar">
                    <div class="main-nav">
                        <a href="../index.html">HOME</a>
                        <a href="about.html">ABOUT</a>
                        <a class="active"href="#">WORKS</a>
                        <a href="contact.html">CONTACT</a>
                    </div>
                </div>
            </header>
            <div class="content">
                
                
                <div class="rows">
                        <div class="column">
<!--                            <embed src="../imgs/TornText.pdf" type="application/pdf"/>-->
                            
                            
                            <a href="https://kossigade.github.io/mm200/assignment1/index.html" target="_blank"><img src="../imgs/music.jpg"></a>
                            
                            <a href="https://lespmha-group6-revitalk.c9users.io/" target="_blank"><img src="../imgs/Management_services.jpg"></a>
                            <img src="../imgs/motion.JPG">
                            
                            
                            
                            
                          
                            
                           
                
                        </div>
                        
                        <div class="column">
                            <a href="https://kossigade.github.io/mm200/final/index.html" target="_blank"><img src="../imgs/bmcc_page.jpg"></a>
           
                            <a href="https://kossigade.github.io/MMP4601/index.html" target="_blank"> <img src="../imgs/old_port.jpg"></a>
                            <img src="../imgs/photo_work.JPG">
                            

                
                        </div>
                        
                        <div class="column">
                            <a href="https://kossigade.github.io/midterm240/midterm//index.html" target="_blank"><img src="../imgs/port.jpg" ></a>
                            <a href="https://kossigade.github.io/mm200/Assignment2/index.html" target="_blank"><img src="../imgs/dejavu.jpg"> </a>
                            <img src="../imgs/vuldeerel.JPG">
                              
                            
                           
                
                        </div>
                
                
                </div>
  
                
                
 
                
            </div>
            
          
            
        </div>
        

    </body>

</html>