*
{  
margin: 0;
padding:0;
box-sizing: border-box;
}


.nbar {
    top: 0;
    text-align: center;
    color: #efdcd3;
    width: 100%;
    min-width: 980px;
    padding: 0px 0px 0px 0px;
    z-index: 5000;
    display: table;
/*    border-bottom: 10px solid black;*/
/*    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../imgs/nav_bg.jpg);*/
    background-size: 100%;
    position: fixed; 
}


body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../imgs/bg.jpg);
/*    background-color: #ECECEC;*/
    height: 100vh;
    background-size:cover;
    background-position:center;
    background-attachment: scroll, fixed;
    
}